@using Final_Project.Models.DomainModels;
@model Final_Project.Areas.Mentor.Models.UserViewModel
@using Final_Project.Areas.Mentor.Controllers;
@{
    ViewData["Title"] = " | Manage Users";
}
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<h1 class="mb-2">Manage Users</h1>



<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr><th>Username</th><th>Email</th><th>First Name</th><th>Last Name</th><th>Roles</th></tr>
    </thead>
    <tbody>
        
        @if(Model.Users.Count()==0)
        {
            <tr><td colspan="5">There are no user accounts.</td></tr>
        }
        else{

        @foreach (Account user in Model.Users)
        {
        <tr>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>
                @foreach (string roleName in user.RoleNames)
                {
                    <div>@roleName</div>
                }
            </td>
            @if(!user.isRole("Student")&&!user.isRole("Admin"))
                    {
                         <td>
                <form method="post" asp-action="AddToStudent"
                      asp-route-id="@user.Id">
                    <button type="submit" class="btn btn-primary">
                        Approve User
                    </button>
                </form>
            </td>
                    }
                    <td>
                        <form method="post" asp-action="ChangePassword"
                      asp-route-id="@user.Id">
                            <button type="submit" class="btn btn-primary">
                                Reset Password
                            </button>
                        </form>
                    </td>
                    @if (!user.isRole("Admin")&&user.isRole("Student"))
                    {
                        <td>
                            <form method="post" asp-action="AddToAdmin"
                      asp-route-id="@user.Id">
                    <button type="submit" class="btn btn-primary">
                        Promote To Admin
                    </button>
                </form>
            </td>
            }
                    @if (user.isRole("Admin"))
                    {
            <td>
                <form method="post" asp-action="RemoveFromAdmin"
                      asp-route-id="@user.Id">
                    <button type="submit" class="btn btn-primary">
                        Demote to Student
                    </button>
                </form>
            </td>
                    }
                    @if (!user.isRole("Student"))
                    {
           /* <td>
                <form method="post" asp-action="AddToStudent"
                      asp-route-id="@user.Id">
                    <button type="submit" class="btn btn-primary">
                        Add To Student
                    </button>
                </form>
            </td>*/
                    }
                     @if (user.isRole("Student")&&!user.isRole("Admin"))
                    {
            <td>
                <form method="post" asp-action="RemoveFromStudent"
                      asp-route-id="@user.Id">
                    <button type="submit" class="btn btn-primary">
                        Disable User
                    </button>
                </form>
            </td>
                    }
                    <td>
                        <form method="post" asp-action="Delete"
                      asp-route-id="@user.Id">
                            <button type="submit" class="btn btn-primary">
                                Delete User
                            </button>
                        </form>
                    </td>
        </tr>
        }
            
        }
        
    </tbody>
</table>

