@using Final_Project.Areas.Student.Models.DomainModels;
@model Final_Project.Areas.Student.Models.ViewModels.MessageViewModel
@{
    ViewData["Title"] = " | Messages";
}

<h1 class="mb-2">Messages</h1>

<h5 class="mt-2"><a asp-action="PostMessage">Post a message</a></h5>

<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr><th>Username</th><th></th><th>Title</th><th></th><th></th></tr>
    </thead>
    <tbody>
        
    @if (Model.Messages.Count() == 0) 
    {
            <tr><td colspan="5">There are no Messages</td></tr>
        }
        else
        {
            
            @foreach (Message msg in Model.Messages)
        {
            if(!(msg.obscure))
            {
                if (!msg.isReply && (msg.isPM == false || msg.Recip == User.Identity?.Name || User.IsInRole("Admin") || msg.UserName == User.Identity?.Name)&&msg.obscure==false)
            {
            <tr>
                @if(msg.UserName==User.Identity?.Name)
                        {
                            <td>From: You</td>
                        }
                        else
                        {
                        <td>From: @msg.UserName</td>
                        }
                        @if (msg.Recip == User.Identity?.Name)
                        {
                            <td>To: You</td>
                        }
                        else if(msg.Recip==string.Empty)
                        {
                            <td>To: All</td>
                        }
                        else
                        {
                            <td>To: @msg.Recip</td>
                        }

                    <td>@msg.Title</td>
            <td><form method="post" asp-action="Message"
                      asp-route-id="@msg.id">
                                <button type="submit" class="btn btn-primary">
                                    Open Message
                                </button>
                            </form></td>
                    
                    @if (User.IsInRole("Admin") || msg.UserName == User.Identity?.Name)
                    {
                        <td>
                            <form method="post" asp-action="Delete"
                      asp-route-id="@msg.id">
                                <button type="submit" class="btn btn-primary">
                                    Delete Message
                                </button>
                            </form>
                        </td>
                    }
                </tr>
        }
        }
        }
                
    }
    </table>
    @if(User.IsInRole("Admin"))
    {
        <form method="get"asp-action="Reset">
        <button type="submit" class="btn btn-primary">
            Reset Message Board
        </button>
        </form>
    }