@model Final_Project.Areas.EmailSubsystem.Models.DomainModels.Email

<h1>@Model.Subject</h1>
@if (Model.succeed=="F")
{
    <p>This message failed to send</p>
    <a asp-action="ReSend" asp-controller="Email" asp-route-id="@Model.id">Resend this message</a>
}
else
{
    <a asp-action="ReMind" asp-controller="Email" asp-route-id="@Model.id">Remind users of this message</a>
}

<div>
</div>
<div>
</div>
<table class="table table-bordered table-striped table-sm">
    
    <thead>
        <tr><th>Username</th><th>Email Address</th><th></th><th></th><th></th></tr>
    </thead>
    
    <tbody>
        
        @if (Model.emailsCSV != string.Empty)
        {
            string[] names= { };
            string[] addresses= { };
            if(Model.emailsCSV.Contains(","))
            {
                     names = Model.usernames.Split(",");
                     addresses = Model.emailsCSV.Split(',');
            }
            else
            {
                names = Model.usernames.Split(",");
                addresses= Model.emailsCSV.Split(",");
            }

            for(int i =0;i<names.Length;i++)
            {
                 <tr>
                            <td>@names[i]</td>
                            <td>@addresses[i]</td>
                    
                 </tr>
                        
            }
   

        }
            else
            {
                <tr>
                    <td>An error occurred displaying recipient list</td>
                </tr>
            }
       
    </tbody>
</table>
<div>
</div>
<p>@Model.Body</p>
<a asp-action="Index" asp-controller="Email" class="btn btn-primary">Back</a>
